@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-kumbh-sans: "Kumbh Sans", sans-serif;

  /* Primary */
  --color-cust-Orange: hsl(26, 100%, 55%);
  --color-cust-Pale-orange: hsl(27, 100%, 71%);

  /* Neutral */
  --color-cust-Very-dark-blue: hsl(220, 13%, 13%);
  --color-cust-Dark-grayish-blue: hsl(219, 9%, 45%);
  --color-cust-Grayish-blue: hsl(220, 14%, 75%);
  --color-cust-Light-grayish-blue: hsl(223, 64%, 98%);
  --color-cust-White: hsl(0, 0%, 100%);
  --color-cust-Black: hsl(
    0,
    0%,
    0%
  ); /* (with 75% opacity for lightbox background) */
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f08c33;
  transform: translateY(48px);
}

/* *,
*::before,
*::after {
  border: 1px solid red;
} */
