@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-kumbh-sans: "Kumbh Sans", sans-serif;

  /* Primary */
  --color-cust-Orange: hsl(26, 100%, 55%);
  --color-cust-Pale-orange: hsl(27, 100%, 71%);

  /* Neutral */
  --color-cust-Very-dark-blue: hsl(220, 13%, 13%);
  --color-cust-Dark-grayish-blue: hsl(219, 9%, 45%);
  --color-cust-Grayish-blue: hsl(220, 14%, 75%);
  --color-cust-Light-grayish-blue: hsl(223, 64%, 98%);
  --color-cust-White: hsl(0, 0%, 100%);
  --color-cust-Black: hsl(
    0,
    0%,
    0%
  ); 

}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(26, 100%, 55%);
  transform: translateY(45px);
}

html {
  font-size: 15px;
}

main {
  min-height: 100vh;
  position: relative;
}

 /* .cust-filter {
	position: relative;
	display: inline-block;
} 

.cust-filter::after {
	content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 0.5rem; 
  pointer-events: none;
  z-index: 20;
} */
 
/* @media (min-width: 1000px) {
	main {
		margin-bottom: 7.5rem;
	}
} */
 lg:px-40 relative lg:mb-30 */

/* *,
*::before,
*::after {
  border: 1px solid red;
} */
